---
title: "✍️ Writing"
layout: default
group: blog
pagination:
  enabled: true
---

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="posts">
        <h3>Engineering Management Essays</h3>
        {% for post in site.em_posts %}
        <div class="post" style="margin-bottom: 4px">
          <div class="">
            <span class="" style="font-size: 14px">
              [{{ post.updated_on | date_to_string }}]
              <a href="{{ post.url }}" style="font-size: 18px">
                {{ post.title }}
              </a></span
            >
          </div>
        </div>
        {% endfor %}
        <h3>Blog Posts</h3>
        {% for post in site.posts %}
        <div class="">
          <span class="" style="font-size: 14px">
            [{{ post.date | date_to_string }}]
            <a href="{{ post.url }}" style="font-size: 18px">
              {{ post.title }}
            </a></span
          >
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
