.video-container {
  position: relative;
  padding-bottom: 30%;
  margin: auto;
  padding-top: 30px;
  height: 0;
  width: 60%;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post-title {
  color: #3d608d;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 50rem;
}

.content {
  padding-top: 40px;
  padding-bottom: 20px;
}

.topbar {
  padding-top: 30px;
  text-align: center;
  background-color: #F1F4F6;
  padding-bottom: 10px;  
}

.topbar-nav-item {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

.topbar-nav-item.active {
  font-weight: bold;
}

.footer {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: darkgray;
  background-color: #F1F4F6;
  font-size: 16px;
}

.top-black-bar {
  width: 100vw;
  height: 10px;
  background-color: #000;
}

.tag {
  border: 1px solid #e6e6e6;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
  color: #999b9e;
  font-size: 16px;
  line-height: 35px;
}

.schedule {
  border: 1px solid #e6e6e6;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 10px;
  color: #999b9e;
  font-size: 20px;
  cursor: pointer;
  line-height: 50px;
}

h1,h2 {
  color: #3d608d;
}


