<div class="container">
  <div class="row notice" style="margin-bottom: 30px; margin-top: 10px">
    <div class="col-12">
        <p>👋 I have paused my work on 12x12 at the moment 🤕.<br /><br /></p>
        <div class="divider" />
        <p>
            I am going to write a detailed post on my experience, but long story
            short, working full-time + creating a new product every month was
            overwhelming.<br />I was not able to give justice to every idea I was
            building and tend to release/leave in between.<br /><br />But with a ton
            of experience and understanding, 2021 is going to be the year of 6x6.
            Where I will focus on 6 different Ideas, and will be building them in
            the span of 2 months.<br /><br />Till then, happy coding 🎉
          </p>
      </div>
    </div>
  </div>
</div>
