<div class="container-fluid" style="margin-bottom: 30px;margin-top:30px;">
    <div class="row notice">
        <div class="d-flex flex-lg-row flex-column align-items-center">
            <img class="mr-lg-2" src="/public/images/with-lap.png" width="130px" height="140px"/>
            <div class="container-fluid">
                <div class="row">
                <span>👋 I am working on a rapid product development experiment called <a
                        href="/12x12" style="font-weight: bold;">12x12</a>!. During this experiment, I will build 1 side-project every month from idea to release 🚀.<br/>Click on the <a href="/12x12">link</a> to for more info 🙇‍♂️.</span>
                </div>
            </div>
        </div>
    </div>
</div>