<div class="container">
    <div class="row">
        <div class="col-8 offset-2 alert alert-secondary text-center">
            <form id="contact-form" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" type="email" name="email" value="" required/>
                </div>
                <button class="btn btn-primary mb-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    window.sk = window.sk || function () {
        (sk.q = sk.q || []).push(arguments)
    };
    sk('form', 'init', {
        site: 'c38e12d16079',   // found under the Settings tab
        form: 'contact',  // the key used in statickit.json
        element: '#contact-form'       // a selector pointing to the `<form>` element
    });
</script>
<script defer src="https://js.statickit.com/statickit.js"></script>