<style>    
    .form-preview {
        display: block;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 15px;
        width: 400px;
        max-width: 450px;
        min-height: 100px;
        border-radius: 5px;
        border: 2px solid #e4e7e7;
        box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.19);        
    }
    .form-preview .preview-heading {
        width: 100%;        
        font-weight: bold;
    }
    .form-preview .preview-input-field {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 2px solid #e4e7e7;
    }

    .form-preview .preview-input-field input {
        width: 100%;
        height: 40px;
        padding: 10px;
        color: #000;
        border-radius: 5px;
        border: 2px solid #e4e7e7;
        background-color: #fff;
        outline: none;
    }
    .form-preview .preview-input-field input::placeholder,
    .form-preview .preview-input-field input {
        opacity: 0.5;
        color: #5e6660;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }

    .form-preview .preview-submit-button {
        margin-top: 10px;
        width: 100%;
        height: 40px;
        font-size: 17px;
        background: #000;
        color: #fff;
        outline: none;
        border: 0;
        border-radius: 5px;        
        transition: box-shadow 0.3s ease-in-out;
    }

    .form-preview .preview-submit-button button {
        width: 100%;
        height: 50px;
        border: 0;
        border-radius: 5px;
        line-height: 0px;        
    }

    .form-preview .preview-submit-button:hover {
        cursor: pointer;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
</style>

<div class="d-flex justify-content-center align-items-center container">
    <form
        class="form-preview"
        action="https://feedburner.google.com/fb/a/mailverify"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=deo/em-blog', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"
    >
        <div class="text-center">Get updates 📥</div>
        <hr style="margin-top: 15px; margin-bottom: 15px" />
        <div class="text-center">
            <input
                class="preview-input-field"
                placeholder="Your email address"
                spellcheck="false"
                type="email"
                style="width: 100%; font-size: 18px; padding-left: 10px; padding-right: 10px; padding-top: 3px"
                name="email"
            />
            <input type="hidden" value="deo/em-blog" name="uri" /><input
                type="hidden"
                name="loc"
                value="en_US"
            />
            <input class="preview-submit-button" type="submit" value="Subscribe" />
            <span style="font-size: 13px"><i>I won't spam, I promise </i>✌️</span>
        </div>
    </form>
</div>
