<div class="row alert alert-info" style="background: rgba(255,215,178,0.47);border-color: navajowhite;margin: 0 2rem;">
    <div class="col-12">
        I have been fortunate to get to work on some interesting problems with some super-intelligent people
        since the start of my career.
        I think it's time to give back to the community.
        I am good at Technical architecture, Mobile, Go, Products.
        I am interested in mentoring 2 tech startups from India.
    </div>
    <div class="col-12" style="width:100%;background: navajowhite;height: 1px;margin-top:10px;margin-bottom:10px;"></div>
    <div class="col-12">
        <span>If you are an (early-stage/seed-funded) startup, heavily based on tech and need some help around it, feel free
            to block the time on <a href="https://calendly.com/akshay-deo/hello">my calendar.</a></span>
    </div>
    <div class="col-12" style="width:100%;background: navajowhite;height: 1px;margin-top:10px;margin-bottom:10px;"></div>
    <div class="col-12">Help me to reach as many founders as possible 🙇‍</div>
</div>
<hr/>