<div class="row notice" style="margin-bottom: 20px">
  <div class="col-12">
    <h2>
      🚀 Iterate faster using <span style="font-weight: bold">api</span>stack
    </h2>
  </div>
  <div
    class="col-12"
    style="
      width: 100%;
      background: #e0dcd9;
      height: 1px;
      margin-top: 10px;
      margin-bottom: 10px;
    "
  ></div>
  <div class="col-12"></div>
  <div class="col-12">
    <p>
      Your web / mobile apps need many workflows like Phone number verification,
      email verification, google sign-in, contact form store, job queues,
      payments, etc.
      <br />

      apistack provides simple endpoints for adding these workflows in your web
      / mobile app without any hassle of creating accounts with these individual
      services and individually integrating them into your app.
    </p>
    <p>Don't believe?</p>
    <ol>
      <li>
        Integrate phone verification using SMS OTP in < 5 mins using apistack.
      </li>
      <li>Integrate job queue in < 3 mins using apistack.</li>
      <li>Integrate Email ownership verification in < 3mins using apistack.</li>
    </ol>
  </div>
  <div
    class="col-12"
    style="
      width: 100%;
      background: #e0dcd9;
      height: 1px;
      margin-top: 10px;
      margin-bottom: 10px;
    "
  ></div>
  <div class="col-12 text-center">
    <a
      class="link"
      href="https://www.getapistack.com?utm_source=akshaydeo.com&utm_medium=notice"
      target="_blank"
      >💬 <span style="font-weight: bold">api</span>stack website</a
    >
  </div>
</div>
