<div class="row notice" style="margin-bottom: 20px">
    <div class="col-12">If you love 🐦 Polls, you will love this 🤞</div>
    <div class="col-12"
         style="width:100%;background: navajowhite;height: 1px;margin-top:10px;margin-bottom:10px;"></div>
    <div class="col-12">

    </div>
    <div class="col-12">
        <p>PollScout indexes the best Twitter Polls from all over the Twitter 🌏. I have been a huge fan of Twitter Polls and
            when I was going through the Twitter Bookmarks, I realized that more than 80% of my bookmarked tweets were
            Polls. These amazing polls are hidden in the long tail of Twitter timelines.</p>

        <p>Just reply with @pollscout track #related-hashtag to the Poll, and it will automatically get indexes on the
            PollScout 🎉.</p>

        <p>Some interesting poll results</p>
        <ol>
            <li>70% of 122k twitter users feel that their country should be run by entrepreneurs!</li>
            <li>80% of the 25k twitter users feel that China is a malign force.</li>
            <li>3. 55% of the 2.5k twitter users say Thank You to their children.</li>
        </ol>
    </div>
    <div class="col-12"
         style="width:100%;background: navajowhite;height: 1px;margin-top:10px;margin-bottom:10px;"></div>
    <div class="col-12 text-center">
        <a class="link" href="https://www.pollscout.in?ref=akshaydeo.com" target="_blank">💬 PollScout Website</a>
        <a class="link" href="https://www.producthunt.com/posts/pollscout-1-0?ref=akshaydeo.com"
           target="_blank">🏆 ProductHunt Link</a>
    </div>
</div>