<div class="sidebar">
  <div class="container">
    <div class="sidebar-about"></div>
    <div class="container sidebar-sticky">
      <link
        href="https://fonts.googleapis.com/css?family=Pacifico"
        rel="stylesheet"
      />
      <div class="container" style="display: flex;justify-content: center;">
        <a href="/"><img
          class="lead"
          style="margin-bottom: 20px;"
          src="/public/images/header-2.png"
          width="152px"
          height="152px"
        /></a>
      </div>
      <div class="container" style="display: flex;justify-content: center;">
        <a href="/"><p style="font-family: 'Pacifico', cursive;color:#FFF;font-size:42px;">
          Akshay Deo
        </p></a>
      </div>
      <nav class="sidebar-nav" style="margin-bottom: 20px;text-align: center;">
        <a
          class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}"
          href="/"
          >Home</a
        >
        {% comment %} The code below dynamically generates a sidebar nav of
        pages with `layout: page` in the front-matter. See readme for usage. {%
        endcomment %} {% assign pages_list = site.pages %} {% for node in
        pages_list %} {% if node.title != null %} {% if node.layout == "page" %}
        <a
          class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
          href="{{ node.url }}"
          >{{ node.title }}</a
        >
        {% endif %} {% endif %} {% endfor %}
      </nav>
      <div class="container" style="display: flex;justify-content: center;">
        <p>&copy; {{ site.time | date: "%Y" }}. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
