<div class="topbar" style="background: #F2F3F3;">
    <link
            href="https://fonts.googleapis.com/css?family=Pacifico"
            rel="stylesheet"
    />
    <div class="container" style="display: flex;justify-content: center;">
        <!-- <img src="/public/images/icon.png" height="100px"/> -->
    </div>
    <div class="container" style="display: flex;justify-content: center;">
        <img src="/public/images/head.png" style="height: 6rem;"/>
        <!--        <a href="/"><p style="font-family: 'Pacifico', cursive;color:#000;font-size:42px;">-->
        <!--            Akshay Deo-->
        <!--        </p></a>-->
    </div>
    {% assign current = page.url | downcase | split: '/' %}
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
        <a class="topbar-nav-item{% if current[1] == undefined %} active{% endif %}" href="/">🏡 Home</a>
        <a class="topbar-nav-item {% if current[1] == 'writing' or current[1] == 'blog' %} active {% endif %}"
           href="/writing">✍️
            Writing</a>
        <a class="topbar-nav-item {% if current[1] == '12x12' %} active {% endif %}"
           href="/12x12">🚀
            12x12</a>
        {% comment %} The code below dynamically generates a sidebar nav of
        pages with `layout: page` in the front-matter. See readme for usage. {%
        endcomment %} {% assign pages_list = site.pages %} {% for node in
        pages_list %} {% if node.title != null %} {% if node.layout == "page" %}
        <a class="topbar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{
            node.title
            }}</a>
        {% endif %} {% endif %} {% endfor %}
    </div>    
</div>
<hr style="background:#E4E7E7;width:100vw;height:2px;margin:0;border:0;"/>

