<div
  class="
    topbar
    d-md-flex
    justify-content-center
    flex-items-center
    align-items-center
  "
  style="flex-direction: column"
>
  {% assign current = page.url | downcase | split: '/' %}
  <div class="d-flex" style="align-items: center; justify-content: center">
    <div class="height:100%;">
      <p
        class="text-center"
        style="
          margin: 0;
          font-family: 'VT323', cursive;
          color: #000;
          font-size: 36px;
          margin-top: 20px;
        "
      >
        akshay deo
      </p>
    </div>
  </div>
</div>
<div
  class="d-flex"
  style="align-items: center; justify-content: center; padding-top: 0px"
>
  <nav class="navbar d-flex navbar-expand">
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      style="margin: 0; font-size: 17px"
    >
      <ul class="navbar-nav d-flex" style="text-align: center">
        <li class="nav-item">
          <a
            class="
              topbar-nav-item{%
              if
              current[1]
              ==
              undefined
              %}
              active{%
              endif
              %}
            "
            href="/"
            >🏡 Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="
              topbar-nav-item
              {%
              if
              current[1]
              ==
              'intro'
              %}
              active
              {%
              endif
              %}
            "
            href="/intro"
            >📇 About Me</a
          >
        </li>
        <li class="nav-item">
          <a
            class="
              topbar-nav-item
              {%
              if
              current[1]
              ==
              'writing'
              or
              current[1]
              ==
              'blog'
              %}
              active
              {%
              endif
              %}
            "
            href="/writing"
            >✍️ Writing</a
          >
        </li>
        <li class="nav-item">
          <a
            class="
              topbar-nav-item
              {%
              if
              current[1]
              ==
              'em'
              or
              current[1]
              ==
              'em_posts'
              %}
              active
              {%
              endif
              %}
            "
            href="/em"
            >📡 Signals</a
          >
        </li>
        {% comment %} The code below dynamically generates a sidebar nav of
        pages with `layout: page` in the front-matter. See readme for usage. {%
        endcomment %} {% assign pages_list = site.pages %} {% for node in
        pages_list %} {% if node.title != null %} {% if node.layout == "page" %}
        <li class="nav-item">
          <a
            class="
              topbar-nav-item{%
              if
              page.url
              ==
              node.url
              %}
              active{%
              endif
              %}
            "
            href="{{ node.url }}"
            >{{ node.title }}</a
          >
        </li>
        {% endif %} {% endif %} {% endfor %}
      </ul>
    </div>
  </nav>
</div>
