<!DOCTYPE html>
<html lang="en-us">
<div class="top-black-bar "></div>
{% include head.html %} {% include topbar.html %}
<body class="layout">
<div class="content container">
    {{ content }}
</div>
<hr style="background:#E4E7E7;width:100vw;height:2px;margin:0;border:0;"/>
<div class="footer" style="background: #F2F3F3;">        
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-md-row flex-column justify-content-center">
                <a style="margin-right: 10px;" href="mailto://akshay@akshaydeo.com" target="_blank">[📧 akshay@akshaydeo.com]</a>
                <a style="margin-right: 10px;" href="https://twitter.com/akshay_deo" target="_blank">[🐦 @akshay_deo]</a>
                <a href="https://www.linkedin.com/in/akshaymdeo/" target="_blank">[ℹ️ in/akshaymdeo]</a>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-8 offset-2">
                <hr style="margin:10px;"/>
            </div>
        </div> -->
        <div class="row" style="padding-top:10px;">
            <div class="col-12 text-center">
                Copyrights 2020
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                ❤️ Akshay Deo
            </div>
        </div>
    </div>
</div>
</body>
</html>
