<!DOCTYPE html>
<html lang="en-us">
  <div class="top-black-bar"></div>
  {% include head.html %} {% include topbar.html %}
  <body class="layout">
    <div class="content container">{{ content }}</div>
    <div class="footer container" style="padding-bottom: 20px">
      <hr style="margin: 0; padding-bottom: 30px" />
      <div class="container">
        <div class="row">
          <div
            class="col-12 d-flex flex-md-row flex-column justify-content-center"
          >
            <span style="margin-right: 10px"
              ><a href="mailto://akshay@akshaydeo.com" target="_blank"
                >📧 akshay@akshaydeo.com</a
              ></span
            >
            <span style="margin-right: 10px"
              ><a href="https://twitter.com/akshay_deo" target="_blank"
                >🐦 @akshay_deo</a
              ></span
            >
            <a href="https://www.linkedin.com/in/akshaymdeo/" target="_blank"
              >ℹ️ in/akshaymdeo</a
            >
          </div>
        </div>
        <div class="row" style="padding-top: 10px">
          <div class="col-12 text-center">2012-2021</div>
          <div class="col-12 text-center">All Rights Reserved.</div>
        </div>
        <div class="row">
          <div class="col-12 text-center">❤️ Akshay Deo</div>
        </div>
      </div>
    </div>
  </body>
</html>
