<!DOCTYPE html>
<html lang="en-us">
  <div class="top-black-bar"></div>
  {% include head.html %} {% include topbar.html %}
  <body class="layout">
    <div class="content container">{{ content }}</div>
    <div class="footer container" style="padding-bottom: 20px">
      <hr style="margin: 0; padding-bottom: 30px" />
      <div class="container">
        <div class="row">
          <div
            class="col-12 d-flex flex-md-row flex-column justify-content-center"
          >
            <span style="margin-right: 10px"
              ><a
                class="after:content-ext-link"
                href="mailto://akshay@akshaydeo.com"
                target="_blank"
                >📧 akshay@akshaydeo.com</a
              ></span
            >
            <span style="margin-right: 10px"
              ><a
                class="content-ext-link"
                href="https://twitter.com/akshay_deo"
                target="_blank"
                >🐦 @akshay_deo</a
              ></span
            ><span style="margin-right: 10px"
              ><a
                class="after:content-ext-link"
                href="https://calendly.com/akshaydeo/hello"
                target="_blank"
                >🗓 calendly/akshaydeo</a
              ></span
            >
            <span style="margin-right: 10px">
              <a
                class="after:content-ext-link"
                href="https://www.linkedin.com/in/akshaymdeo/"
                target="_blank"
                >ℹ️ in/akshaymdeo</a
              ></span
            >
            <a
              class="after:content-ext-link"
              href="https://www.peerlist.io/akshaydeo/"
              target="_blank"
              >🧑‍🎓 peerlist/akshaydeo</a
            >
          </div>
        </div>
        <div class="row" style="padding-top: 10px">
          <div class="col-12 text-center">2012-<span id="year"></span></div>
          <div class="col-12 text-center">All Rights Reserved.</div>
        </div>
      </div>
    </div>
    <script>
      document.getElementById('year').innerHTML = new Date().getFullYear();
    </script>
  </body>
</html>
